@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
   box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

/* Firefox */
input[type="number"] {
   -moz-appearance: textfield;
}

:root {
   --primary-color: #5dfdcb;
   --secondary-color: #90d7ff;
}

body {
   background-color: #c9f9ff;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   font-family: "Nunito", sans-serif;
   height: 100vh;
   margin: 0;
   padding: 20px;
}

p {
   text-align: center;
   font-weight: bold;
   font-size: 18px;
}

.btn {
   padding: 8px 20px;
   cursor: pointer;
   font-size: 16px;
   font-weight: bold;
   border-radius: 10px;
   background: none;
   border: 2px solid var(--secondary-color);
   color: black;
}

.btn:hover {
   transform: scale(1.1);
}

.exc-img {
   width: 220px;
   height: 25%;
}

.currency {
   padding: 40px 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.currency select {
   padding: 10px 20px;
   border: 2px solid var(--secondary-color);
   border-radius: 10px;
   width: 50%;
   font-size: 14px;
   font-weight: bold;
   -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;

   background: transparent;
   background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
   background-position: right 10px top 50%, 0, 0;
   background-size: 12px auto, 100%;
   background-repeat: no-repeat;
}

.currency input {
   padding: 8px;
   width: 40%;
   border: 2px solid var(--secondary-color);
   border-radius: 10px;
   background: transparent;
   font-size: 20px;
   text-align: right;
}

.swap-rate-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.rate {
   color: black;
   font-size: 14px;
   padding: 0 14px;
   font-weight: bold;
}

select:focus,
input:focus,
button:focus {
   outline: 0;
}

@media (max-width: 600px) {
   h1 {
      font-size: 1.6rem;
   }

   .exc-img {
      width: 60%;
      height: 25%;
   }

   .currency input {
      width: 40%;
   }

   .currency select {
      width: 50%;
   }
}
