@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4&display=swap");

*,
*::after,
*::before {
   box-sizing: border-box;
}

body {
   font-family: "Source Serif 4", sans-serif;
   background-color: #111111;
   color: gold;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   margin: 0;
}

.movie-container {
   margin: 20px 0;
}

.movie-container select {
   background-color: antiquewhite;
   border: 0;
   border-radius: 5px;
   font-size: 16px;
   margin-left: 10px;
   padding: 5px 15px;
   appearance: none;
   -moz-appearance: none;
   -webkit-appearance: none;
}

.seat {
   background-color: gold;
   height: 15px;
   width: 18px;
   margin: 3px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

.row {
   display: flex;
}

.seat.selected {
   background-color: greenyellow;
}

.seat.occupied {
   background-color: red;
}

.seat:nth-of-type(2) {
   margin-right: 18px;
}

.seat:nth-last-of-type(2) {
   margin-left: 18px;
}

.showcase .seat:not(.seat.occupied) {
   cursor: default;
   transform: scale(1);
}

.seat:not(.occupied):hover {
   cursor: pointer;
   transform: scale(1.2);
}

.showcase {
   background-color: rgba(0, 0, 0, 0.2);
   padding: 5px 10px;
   border-radius: 5px;
   list-style-type: none;
   display: flex;
   justify-content: space-between;
}

.showcase li {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 10px;
   font-size: 20px;
}

.showcase li small {
   margin-left: 2px;
}

.container {
   perspective: 1000px;
   margin-bottom: 30px;
}

.screen {
   background-color: antiquewhite;
   height: 70px;
   width: 100%;
   margin: 15px 0;
   transform: rotateX(-45deg);
   box-shadow: 0 3px 10px rgba(255, 255, 255, 0.8);
}

p.text {
   margin: 5px 0;
   font-size: 20px;
}

p.text span {
   color: greenyellow;
}
